.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin-top: 100px;
}

@media (max-width: 1024px) {
  .container {
    margin-top: 70px;
  }
}

/* Adjust top margin for smartphones */
@media (max-width: 600px) {
  .container {
    margin-top: 120px;
  }
}

.content {
  flex: 1;
  padding: 2rem 1.5rem;
  max-width: 960px;
  margin: auto;
}

.heading {
  font-size: 2rem;
  color: black;
  margin-bottom: 1rem;
  text-align: center;
}

.paragraph {
  font-size: 1rem;
  line-height: 1.6;
  color: black;
  text-align: justify;
}
